<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div id="sidebar" class="col-lg-auto">
            <app-category-filter></app-category-filter>
        </div>
        <div id="tasks" class="col-lg">
            <app-toolbar></app-toolbar>

            <div class="tasks-scroll">
                <router-outlet></router-outlet>
            </div>

        </div>
        <div class="col-lg-auto">
            <app-task-form></app-task-form>
        </div>
    </div>

    <!--<CategoryForm />
    <DeleteMessage />-->
</div>
