<nav id="list-toolbar" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <div class="col-lg">
            <app-toolbar-title></app-toolbar-title>
        </div>
        <div class="col-lg-auto d-flex flex-row">
            <app-actions></app-actions>
            <app-sorting-dropdown></app-sorting-dropdown>
        </div>
    </div>
</nav>
