/*colors*/
$sidebar-bg-color: #f7f7f7;
$search-toolbar-bg-color: #603421;
$lists-bg-color: #f7f7f7;
$sidebar-item-a-color: rgba(38,38,38,0.75);
$sidebar-item-a-title-color: #262626;
$sidebar-item-a-overdue-count-color: #f7f7f7;
$sidebar-item-a-overdue-count-b-color: rgba(215,78,72,0.8);
$sidebar-item-a-count-color: rgba(38,38,38,0.75);


$lists-width: 17rem;
$search-toolbar-height: 2.5rem;
$categories-count-font-size: 0.8rem;
$categories-count-padding-left-right: 0.25rem;


/*bootstrap*/
$dropdown-link-color: black;
$dropdown-link-active-color: white;
$dropdown-link-active-bg: #733e27;