@import 'customVars.scss';

#tasks {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, rgba(140,76,49,1) 0%, rgba(185,136,95,0.97) 25%, rgba(140,76,49,1) 50%, rgba(185,136,95,0.97) 75%, rgba(140,76,49,1) 100%);
    /*background-image: url(../img/01.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1124px 750px;*/
    @extend %marging-padding-reset;
}

#list-toolbar {
    background-color: #733e27;
}

.tasks-scroll {
    overflow-y: auto;
    height: 100vh;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.add-task {
    background-color: rgba(115,62,39,0.75);
    margin: 1rem 0;
    border-radius: 0.3rem;
    position: relative;
    height: $search-toolbar-height;

    .add-task-meta {
        opacity: 1;
        transition: opacity 200ms linear;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;

        .add-task-meta-star {
            float: right;
            opacity: 1;
            cursor: pointer;
        }

        .add-task-meta-date {
            float: right;
            margin-right: 1rem;
            opacity: 1;
            cursor: pointer;
        }
    }

    .plus-wrapper {
        opacity: 1;
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        left: 0.5rem;
        top: 0.5rem;
        position: absolute;
    }

    .add-task-input {
        color: #fff;
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        left: 2rem;
        min-width: 60%;
    }

    #add-task-date {
        color: #fff;
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 4rem;
        max-width: 7rem;
    }
}

.active-task {
    background-color: white;
    color: black;
}

.selected-task {
    background-color: #d4edda;
    color: #155724;
}

.overdue-task {
    border-radius: 0.5rem;
    background-color: white;
    color: black;

    #date {
        color: #ffc107;
        font-weight: bold;
    }
}

.completed-task {
    background-color: rgba(255,255,255,0.6);

    .task-check {
        z-index: 1;

        label {
            font-size: 1.1rem;
            text-decoration: line-through;
            font-size: 1.1rem;
        }
    }
}

#completed-tasks-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    a {
        background: rgba(58,127,147,0.75);
        color: white;
        padding: 0.2rem 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 0.2rem;
    }
}
